
.idea/workspace.xml
out/
*.laccdb
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml
*.pdf
idcsymphonizer.properties
idcsymphonizer.properties
.idea/artifacts/IDC_Symphony.xml
.idea/artifacts/IDC_Symphony_jar.xml
.idea/dictionaries/Grempington.xml
.idea/inspectionProfiles/Project_Default.xml
cloc.exe
.idea/artifacts/IDC_Symphony.xml
